# protobuf
csw_protobuf/*.py
scalapb/*.py
**/__pycache__


# PyCharm files
.idea

# virtual environment
venv
.venv

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
*.iml
*.rdb
*.gz
*.whl
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/build/
/out/
/tmtpycsw.egg-info/
/pycsw.iml
/dist/tmtpycsw-0.0.8.tar.gz
/dist/tmtpycsw-0.0.8-py3-none-any.whl
target/
/tests/testSupport/test.log
/tests/test.log
/dist/tmtpycsw-2.0.0.tar.gz
/dist/tmtpycsw-2.0.0.zip
/dist/tmtpycsw-2.0.0-py3-none-any.whl
/venv-
/dump_alarm_master.rdb
/tests/dump_event_master.rdb
/pytest
/dist/tmtpycsw-2.0.1.tar.gz
/dist/tmtpycsw-2.0.1-py3-none-any.whl
/test.log
/tests/testSupport/.bsp/sbt.json
